.left{
    width: 40%;
    height: 100%;
    background-color: rgb(245, 245, 245);
}

.left> .top-left{
    padding: 20px;
    border: 10px solid rgb(82, 0, 0);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    height:fit-content;
    width: 100%;
}

.contact-icon{
    margin-top: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.contact-icon>div{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.contact-icon>small{
    justify-self: left;
}

.bottom-left{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

.botton-left i{
    color: black;
}

